:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.contact {
  display: flex;
  background-color: #1a1a1a;
  border-radius: 8px;
  box-shadow: 0 0 2em #000000aa;
  transition: box-shadow 300ms;
  padding-bottom: 1em;
  img {
    height: 10em;
    padding: 1em;
  }
  h2 {
    margin: 0;
    padding: 1em;
    font-size: 1.5em;
    line-height: 1.1;
    color: #ffffff;
  }
}

.contact-data {
  margin-top: 2em;
  text-align: left;
}

.contact-btns button {
  /* background-color: #4CAF50; */
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
}

.edit-btn,
.remove-btn {
  /* margin: 10 10 10 10; */
  background-color: #646cff;
  img {
    width: 20px;
    height: 20px;
  }
  img:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
}

.edit-btn {
  background-color: #646cff;
}

.remove-btn {
  background-color: #ff6464;
}



/* .contact-btns buttons {
  align-items: center;
  border: 1px solid transparent;
  margin: 100 100 100 100;
  display: flex;
  cursor: pointer;
  justify-content: center;
  gap: 1em;
  margin-top: 3em;
  width: 3em; 
  height: 3em; 
  padding: 10px 20px;
  padding: 0.5em; 
} */

/* .edit-btn,
.remove-btn {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  //overflow: hidden; Oculta el contenido que se desborde del botón
  img {
    /height: auto;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    width: 20px; 
    height: 20px;
    margin-right: 5px; 
  }
  img:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
} */

/* .edit-btn {
  background-color: #646cff;
}

.remove-btn {
  background-color: #ff6464;
} */

/* .edit-btn img,
.remove-btn img {
  width: 100%; // La imagen ocupará el 100% del ancho del botón
  height: 100%; La imagen ocupará el 100% de la altura del botón 
  object-fit: contain; //Ajusta la imagen para que quepa dentro del contenedor sin distorsiones 
} */

/* button {
  content: none;
  border-radius: 8px;
  padding: 0.2em 0.5em; 
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 2em; 
  height: 2em; 
} */
/* 
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
